.credentials {
    margin-bottom: 50px;
}

.credentials-header {
    font-weight: bold;
    text-transform: uppercase;
}

.credentials-error {
    display: flex;
    flex-direction: column;
    color: red;
    margin-bottom: 10px;
}

.credentials-error > p {
    font-weight: bold;
    margin: 0 0 5px;
}

.credentials-form {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid #9CDCFE;
    border-radius: 10px;
}

.credentials-input {
    height: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-width: 2px;
    font-size: 20px;
}

.credentials-submit {
    font-size: 22px;
    max-width: min-content;
}
